<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<form action="" method="post">
Title<input type="text" name="Title">
    <br>
First Name<input type="text" name="FirstName">
    <br>
Last Name<input type="text" name="LastName">
    <br>
Door Number<input type="text" name="DoorNumber">
    <br>
Street Name<input type="text" name="StreetName">
    <br>
City<input type="text" name="City">
    <br>
Post Code<input type="text" name="PostCode">
    <br>
Email<input type="text" name="Email">
    <br>
Phone Number<input type="text" name="Phone">
    <br>
Date of Birth<input type="text" name="DOB">
    <br>
<input type="submit" name="submit">
</form>

</body>
</html>