html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, ul, li {
    margin: 2.5px;
    padding-bottom: 1%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}
h1 {
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

body, p {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    margin: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

search.form {
    max-width: 250px;
    max-height: 50px;

}

.search-input {
    max-width: 150px;
    max-height: 50px

}

.search-button {
    padding: 5px 10px;
    max-height: 50px;
    text-align: justify;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.text-overlay {
    position: relative;
    padding: 20%;
    text-align: center;
    color: white;
    font-size: 2.5rem;   
}

.our-experiences {
    padding: 1%;
}

.full-width-image-container {
    position: relative;
    overflow: hidden; /* Hide overflowing text */
    height: 100%; /* Ensure container takes up full height of column */
}

.image-with-overlay {
    position: relative;
    width: 100%;
    height: 100%; /* Make the image container take up full height */
}

.experience-img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 15px;
}

.image-text-overlay {
    position: absolute;
    top: 30%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color */
    background-color: rgba(0, 0, 0, 0.25); /* Text background color with transparency */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 10px;
}

.image-text-overlay h3 {
    margin: 0;
    font-size: 24px;
}

.image-text-overlay p {
    margin: 0;
    font-size: 16px;
}

.popular-section {
    background-color: #f7f7f7;
    padding: 1.5%;
    text-align: center;
}

.popular-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1.5%;
}

.popular-item {
    max-width: 300px;
    text-align: center;
}

.popular-item img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.popular-item:hover {
    transform: scale(1.10); 
    cursor: pointer;
}

.popular-item h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.popular-item p {
    font-size: 0.9rem;
}

.slideshow-container {
    position: relative;
    background-color: white;
  }
  
  .mySlides {
    display: none;
    padding: 35px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  .dot-container {
    position: 50%;
    text-align: center;
    padding-bottom: 2%; /* Adjust the padding */
    background: transparent;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px; /* Adjust the margin */
    background-color: #888;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #ddd;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: #007bff;}
  
.author{
    padding: 0.5%;
}

.form-review {
    width: 400px;
}
.form-control-custom {
    width: 800px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    font-size: 18px; /* You can also adjust the font size if necessary */
}

.form-group-review{
    width: 100%;
}

.footer {
    text-align: center;
    background-color: #f7f7f7;
}

.footer img {
width: 10%;
height: 10%;
}

.footer h3 {
    font-size: 0.9rem;
}


.destination_text {
    text-align: center;
    padding-top: ;
    background-color: #ffffff;
    padding: 5%;
    
}

/* Style the images */
.destination-photo img {
    max-width: 100%;
    height: 30%;
    border-radius: 15%;
    padding: 5%;
}


form {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Style for the form container */
.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-form h2 {
    font-size: 28px;
    text-align: center;
    padding-bottom: 1.5%
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 18px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    font-size: 28px;
    text-align: center;
    padding-bottom: 1.5%;
}

.form-control-reg {
    padding: 5px; /* Adjust the padding to make form elements smaller */
}
.background-container {
    background-image: url('static/images/LondonCity.jpeg');
    background-size: cover;
    height: 100vh; /* Set the background container to full viewport height */
    display: flex;
    justify-content: center; /* Align content to the left */
    align-items: center; /* Center vertically */
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
     /* Add left padding to space the form from the left edge */
    }

.form-reg {
    width: 50%; /* Set the form width to 50% of its container (background-container) */
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
}

/* Style for form elements */
.form-group-reg {
    margin-bottom: 1%;
}

.form-group-reg label,
.form-control-reg {
    font-size: 10px; /* Adjust the font size for smaller appearance */
}
.form-reg h2 {
    font-size: 28px;
    text-align: center;
    padding-bottom: 1.5%;
}

.form-control-reg {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the submit button */
.btn-primary-reg {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.about-section {
    background-color: #f7f7f7;
    padding: 1.5%;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1.5%;
}

.about-item {
    max-width: 300px;
    text-align: center;
}

.about-item img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.about-item:hover {
    transform: scale(1.10); 
    cursor: pointer;
}

.about-item h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.about-item p {
    font-size: 0.9rem;
}

.text-section {
    background-color: #ffffff; /* Background color of the box */
    border: 1px solid #ddd; /* Border around the box */
    padding: 20px; /* Padding inside the box */
    border-radius: 10px;
    margin: 20px; /* Margin around the box to create spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
}

/* You can also style the text inside the box */
.text-section p {
    font-size: 16px; /* Font size of the text */
    line-height: 1.5; /* Line height for better readability */
    color: #333; /* Text color */
     center;
}

.para1 {
    text-align: justify;
    background-color: #ffffff; /* Background color of the box */
    border: 1px solid #ddd; /* Border around the box */
    border-radius: 10px;
    padding: 20px; /* Padding inside the box */
    margin: 20px; /* Margin around the box to create spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
}
.about_h1 {
    text-align: center;
}
.carousel > .carousel-inner > .carousel-item > a > img {
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    .top-middle-nav ul {
        flex-direction: column;
        align-items: center;}
    }
    @media (max-width: 768px) {
        .text-overlay {
            font-size: 1.8rem; /* Adjust font size for smaller screens */
        }
    }
    
    /* Media query for even smaller screens */
    @media (max-width: 576px) {
        .text-overlay {
            font-size: 1.5rem; /* Adjust font size for even smaller screens */
        }
    } 
    @media (max-width: 768px) {
        .form-reg {
            width: 80%; /* Adjust the width for smaller screens */
        }