<!DOCTYPE html>
<html>
<head>
    <title>Book a Trip</title>
</head>
<body>
    <h1>Please Choose Your Destination</h1>


     
<div class="destination-photos">
    <div class="destination-photo">
        <!-- <img src="static/carousel.jpg" alt="Paris"> -->
        <a> <img src="{{url_for('static', filename='images/LondonCity.avif')}}" alt="London city" /></a>
        <p>Experience London City!</p>
        <p>Enjoy riveting aerial views of Central London on our most popular tour! The London sightseeing 
            tour starts with a flight across the Surrey countryside north towards Central London and 
            follows the River Thames right through the heart of the Capital. Trip of a lifetime, take 
            in unique views of some of Central London’s most famous landmarks: Houses of Parliament, 
            Millennium Eye, Trafalgar Square, St Paul’s, The Globe Theatre, The City, The Tower of London, 
            HMS Belfast, Tower Bridge, the Olympic Stadium and Canary Wharf before flying over Croydon and 
            back to our base at Redhill Aerodrome.</p>
    </div>
    <div class="destination-photo">
        <a> <img src="{{url_for('static', filename='images/Kent.webp')}}" alt="Kent" /></a>
        <p>Explore vibrant Kent Heritage !</p>
        <p>Sit back and relax as we take you on the Kent Heritage Tour! This fantastic tour covers a number 
            of the historic sites in Kent; The Garden of England. Flight time is approximately 20-25 minutes, 
            air traffic allowing.</p>
    </div>
    <div class="destination-photo">
        <a> <img src="{{url_for('static', filename='images/Thames_and_Medway.jpg')}}" alt="Medway" /></a>
        <p>Discover Thames and Medway!</p>
        <p> Spend a blissful hour exploring the Thames and Medway Estuaries with amazing sights of innovative 
            buildings and natural erosion showing the sheer power of rivers.</p>
    </div>
    <div class="destination-photo">
        <a> <img src="{{url_for('static', filename='images/Royal_surrey.jpg')}}" alt="Surry" /></a>
        <p>Relax and enjoy Royal Surrey!</p>
        <p>Sit back and relax as we take you on the Royal Surrey Tour! This fantastic trip takes you over the 
            beautiful Surrey countryside and combines scenic country views with historic buildings. Flight 
            time is approximately 20-25 minutes, air traffic allowing. We recommend allowing an hour for the 
            whole experience with us.</p>
    </div>
</div>


    <form method="POST" action="/book">
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="destination">Destination:</label>
        <select id="destination" name="destination" required>
            <option value="" disabled selected>Select a destination</option>
            <option value="Paris">London City</option>
            <option value="New York">Kent Heritage</option>
            <option value="Tokyo">Thames and Medway</option>
            <option value="Sydney">Royal Surrey</option>
        </select><br><br>
        
        <label for="departure_date">Departure Date:</label>
        <input type="date" id="departure_date" name="departure_date" required><br><br>
        

        <!-- <form action="submit_booking.php" method="POST"> -->
            
            <input type="hidden" id="thankYouPage" name="thankYouPage" value="thank_you.html">
            <input type="submit" value="Submit Booking">
        </form>

<!-- <script>
    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault(); 
        
        const thankYouPage = document.getElementById("thankYouPage").value;
        window.location.href = thankYouPage;
    });
</script> -->

    </form>
</body>
</html>






