<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact Us</title>
  <a>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@400&display=swap"
      rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </a>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <a class="navbar-brand" href="index.html"></a>
        <img src="{{ url_for('static', filename='images/logo-black-no-background.png')}}" alt="Heli7 Logo" width="100px"
          height="100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/book">Pricing/Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/our_fleet">Our Fleet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact_us">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>


  <h1>Contact us</h1>
  <div>
    <a href="/faq">Visit our Faq Page</a>
  </div>

  <h1>Privacy Policy</h1>

  <p>
    We do not store financial information on our data base nor
    do we share information provided in the payment process with 3rd Parties.
    Voucher Terms and Conditions of Sale
  <p>1.Voucher Validity</p>
  <p>Heli Air vouchers will be valid for a period of 6 months following purchase.
    The experience must be booked and utilized within 6 months of purchase. No refunds
    will be given for any vouchers not redeemed within the 6 month period.</p>
  <p>2.Weather</p>
  <p>Should your booking need to be cancelled due to unsuitable weather conditions,
    Heli Air will inform you of this as soon as we can. We will endeavour to re-schedule
    your booking at no extra cost if we were forced to cancel your experience due to
    adverse weather conditions. We recommend that you call is the day before your booking
    to confirm the weather will be suitable the next day.</p>
  <p>3.Age</p>
  <p>Pleasure flight passengers must be at least 4 years of age at the time of the flight. Any
    person under the age of 16 must be accompanied by an adult at all times, including on board
    the helicopter. Vouchers will need to be purchased for any accompanying adult on board the
    helicopter. Training flight customers must be at least 16 years of age at the time of the
    lesson.</p>
  <p>4.Weight</p>
  <p>Pleasure flight passengers must weigh no more than 18st, and training flight passengers must
    weigh no more than 15st (R22) or 18st (R44/66) at the time of the flight or lesson. We will
    do our best to cater for people above 18st, however we cannot guarantee that this will be a
    possibility all of the time.</p>
  <p>5.Alcohol, Drugs & Anti Social Behaviour</p>
  <p>Customers under the influence of alcohol and / or drugs are not permitted to take part in a
    flight or lesson with Heli Air . Heli Air reserves the right to refuse flights and / or
    lessons to those whom it suspects to be under the influence of alcohol and / or drugs.
    Heli Air and / or the helicopter pilot reserve the right to refuse flights to passengers
    deemed to be either not fit to fly, or not behaving in an acceptable manner.</p>
  <p>6.Bookings for the Disabled</p>
  Any disabled passengers will be required to have a carer with them at all times, including on
  board the helicopter. A voucher will need to be purchased for the carer to go on board the
  helicopter. Restrictions apply depending on the disability, please call Heli Air for specific
  details.</p>
  <p>7.Refreshments</p>
  <p>No refreshments (e.g. food and drink) may be taken on board the helicopter at any time.</p>
  <p>8.Baggage</p>
  <p>No baggage may be taken on board the helicopter at any time.</p>
  <p>9.Privacy Policy</p>
  <p>Heli Air does not store credit card details nor do we share customer details with any 3rd
    parties.</p>
  <p>10.Cancellation Policy</p>
  Vouchers purchased are non refundable. If weather or technical issues cause a flight to delayed,
  Heli Air will rebook the experience at a later date. Once a booking has been made, if the
  customer needs to rebook the flight on another date, they must give Heli Air a minimum of 2
  week’s notice.</p>

  <div>
    <P>Heli7 Main Switchboard: 01038432746</P>
    <p>Heli 7 Engineering: 01494 451119</P>
    <p>Head Office Address, Heli Air Limited, Wellesbourne Airfield, Warwickshire, CV35 9EU
      © 2023 Heli7
    </p>

  </div>




</body>

</html>