<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <title>Heli7 - Helicopter Tours of London</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a img src="images/logo-no-background.png">Heli7</a>
      </div>
      <div class="nav-links">
        <a href="about_us.html">About Us</a>
        <a href="our_fleet.html">Our Fleet</a>
        <a href="book.html">Book</a>
        <a href="contact_us.html">Contact Us</a>
      </div>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>

    <header class="banner">
      <img src="images/carousel.jpg" alt="Helicoper flys over London"
    </header>

    <section id="about" class="about-section">
      <h2>About Us</h2>
      <div class="dynamic-text">
        <p>
          We offer exhilarating helicopter tours of London that provide
          breathtaking views of iconic landmarks.
        </p>
      </div>
    </section>

    <section id="fleet" class="fleet-section">
      <h2>View Our Fleet</h2>
      <!-- Add details about your fleet here -->
    </section>

    <section id="book" class="book-section">
      <h2>Book a Tour</h2>
      <!-- Add your booking form or details here -->
    </section>

    <section id="contact" class="contact-section">
      <h2>Contact Us</h2>
      <!-- Add your contact information and form here -->
    </section>

    <footer class="footer">
      <p>&copy; Heli7</p>
      <div class="social-media">
        <!-- Add your social media badges here -->
      </div>
    </footer>

    <!-- <script src="script.js"></script> -->
  </body>
</html>
