<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <a>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@400&display=swap"
            rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    </a>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <a class="navbar-brand" href="index.html"></a>
                <img src="{{ url_for('static', filename='images/logo-black-no-background.png')}}" alt="Heli7 Logo"
                    width="100px" height="100px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about_us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book">Pricing/Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/our_fleet">Our Fleet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us">Contact Us</a>
                        </li>
                    </ul>
                    <form class="d-flex searc-form" role="search" method="GET" action="/search">
                        <input class="form-control me-2 search-input" type="search" placeholder="Search"
                            aria-label="Search" name="query">
                        <button class="btn btn-outline-success search-button" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="background-container"
        style="background-image: url('static/images/london_skyline.png'); background-size: cover;">
        <div class="login-form" class="form-group">
            <h2>Login</h2>
            <p>{{MSG}}</p>
            <form method="POST" action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button class="btn btn-primary" role="button" type="submit">Login</button>
                <p>Don't have an account? <a href="signup">Sign Up</a></p>
            </form>
        </div>
        <section>
            <!-- <footer class="footer">
            <p>&copy; Heli7 London Ltd </p>
            <nav>
                <a href="/index">Home</a>
                <a href="/faq">Frequently Asked Questions</a>
                <a href="/about_us">About Us</a>
                <a href="/contact_us">Contact Us</a>
                <a href="/gdpr">GDPR</a>
            </nav>
    </section> -->
            <!-- </footer> -->
</body>

</html>

<!-- <input type="text" name="username" placeholder="Username" required>
<input type="password" name="password" placeholder="Password" required> -->