<!DOCTYPE html>
<html lang="en">
  <head>

    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>
  <body>
    <h1>Our Fleet</h1>



    <div class="ourfleet-photos">
      <div class="ourfleet-photo">
  
          <a> <img src="{{url_for('static', filename='images/Twin-Squirrel.jpg')}}" alt="Twin-Squirrel" /></a>
          <p>The Twin-Squirrel</p>
          <p>Whether it be VIP or corporate travel, or a dedicated sightseeing journey, the Aerospatiale AS350 
            Single Squirrel caters to all requirements.
          </p>  

          <p>This spacious and comfortable aircraft offers excellent rear seat visibility, and is one of the largest 
            single engine turbine helicopters available. </p>


    <div>
      <a href="index.html">Return Home</a>
      </div>

  </body>
</html>
